.titleBg{
    /* background-color: var(--bg-dark); */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 64px 0;
    height: 15vh;
}

.title{
    margin: 0;
    color:var(--text-light);

    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 97.4%;
    letter-spacing: -5.12px;
}

.titleAscent{
    color: var(--color-ascent);
}