.field {
    position: relative;
    display: flex;
    height: 64px;
    padding: 0px 16px;
    align-items: center;
    gap: 8px;
    align-self: stretch;

    border-radius: 20px;
    background: var(--bg-light);
    border: solid var(--bg-dark);
}

.field label {
    position: absolute;
    top: 0;
    margin-top: -12px;
    margin-left: 24px;
    font-size: var(--text-size--small);
    color: var(--text-dark);
    font-weight: 600;
    background-color: var(--bg-light);
    padding: 0 6px;
}

.field input {
    border: none;
    font-size: var(--text-size--medium);
    color: var(--text-dark);
    align-self: stretch;
    max-width: 420px;
    background-color: inherit;
}
.field input:focus{
    outline: none;
}